<hgroup>
  <h1>Diário do Tukain <span title="Vai um café?">☕</span></h1>
  <p>Aqui é um local onde eu guardo alguns pensamentos meus.</p>
  <blockquote>
    Inspirado pelo <a target="_blank" href="https://c9x.me/notes/">Notes</a> do c9x.
  </blockquote>
  <div class="card-list">
    <a href="https://codeberg.org/tukain"><article class="card codeberg">Codeberg</article></a>
    <a href="https://disroot.org/tukainpng"><article class="card disroot">Disroot</article></a>
    <a href="mailto:tukain@disroot.org"><article class="card mail">E-mail</article></a>
  </div>
</hgroup>
<main>
