---
layout: default.vto
---
<div class="center">
  {{ for tag of search.pages(`${ title }`, "date=desc") }}
    <a href="{{ tag.url }}" class="post-link">
      <div class="card">
          <div class="card_image">
            <p>
            {{ tag.thumbnail }}
            </p>
          </div>
          <div class="card_title">
            <h3>
              {{ tag.title }}
            </h3>
          </div>
      </div>
    </a>
  {{ /for }}
</div>
