:root {
  --foreground:               #000000;
  --background-alt:           #d9d9d9;
  --background-dim:           #9b9b9b;
  --background:               #c0c0c0;
  --accent:                   #008081;
  --link:                     #010080;
  --border:                   solid 1px #181818;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  font-family: system-ui;
  scroll-behavior: smooth;
  scroll-padding: 0;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

hgroup, footer {
  background-color: var(--background-alt);
}

hgroup {
    position: relative;
    border: solid 2px;
    border-top-color: white;
    border-left-color: white;
    border-right-color: grey;
    border-bottom-color: grey;
    padding: 30px;
}

hgroup::before {
    content: "Diário do Tukain";
    background-color: var(--link);
    color: var(--background-alt);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

hgroup > h1 {
  margin-top: 0;
  margin-bottom: 0;
}

main {
  max-width: 80ch;
  display: block;
  margin: auto;
  padding: 10px;
  min-height: 100vh;
}

article {
  page-break-after: always;
  background-color: var(--background);
}

button {
    border: solid 2px;
    border-top-color: white;
    border-left-color: white;
    border-right-color: gray;
    border-bottom-color: gray;
    box-shadow: 0px 0px 0px 1px;
    padding: 0px 10px;
    background: lightgray;
}

button:active {
    border-color: lightgrey;
}

article > a > h1 {
    margin-bottom: -.5em;
}

a {
  color: var(--link);
}

a:hover {
  opacity: 80%;
}

blockquote {
  background-color: var(--background-alt);
  color: var(--accent);
  border-left: solid 5px var(--accent);
  padding: 10px 20px;
  margin: 10px auto;
}

blockquote > p > code {
  background-color: var(--link);
  color: var(--background);
}

blockquote > pre {
  margin-top: 10px;
  margin-bottom: 10px;
}

em::before, em::after {
  content: "\""  
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

hr {
  border: var(--border);
  border-bottom: none;
  border-left: none;
  border-right: none;
  page-break-after: always;
  display: block;
  margin: 3em 0;
}

ul, ol {
  list-style-position: inside;
  padding-inline-start: 1.5em;
}

ul > li {
  list-style: "- "
}

pre > br {
  margin: 0px;
}

h1, h2, h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

img {
  max-height: 300px;
  max-width: 100%;
  object-fit: cover;
  display: block;
  margin: 1em auto;
}

.icon {
    width: 32px;
    height: 32px;
    display: inline;
    margin: 0;
    padding: 0;
}

table, th, td {
  border: var(--border);
  padding: 5px;
  border-collapse: collapse;
}

table {
  border: none;
  overflow: scroll;
  margin: 1em;
  margin-left: auto;
  margin-right: auto;
}

th, td {
  padding-left: 1em;
  padding-right: 1em;
  margin: 0;
}

tr:hover {
  color: var(--accent);
}

th {
  font-weight: bold;
  background-color: var(--background-alt);
}

tr {
  background-color: var(--background-alt)
}

tr:nth-of-type(even) {
  background-color: var(--background);
}

p > code {
  color: var(--foreground);
  background-color: var(--background-alt);
}

kbd, pre, code {
  background-color: var(--background-dim);
  padding: 3px;
  overflow-x: scroll;
  margin: 10px auto;
}

kbd, pre {
  min-height: 20px;
}

@media only screen and (orientation: portrait) {
    hgroup {
	padding: 15px;
    }
}
