:root {
  --red:      #f38ba8;
  --green:    #a6e3a1;
  --yellow:   #f9e2af;
  --blue:     #89b4fa;
  --purple:   #cba6f7;
  --cyan:     #94e2d5;
  --orange:   #fab387;
  --grey:     #6c7086;

  --bg-0:     #181825;
  --bg-1:     #313244;
  --bg-2:     #1e1e2e;
  --fg-1:     #ffffff;
  --fg-2:     #ababab;
  --accent-1: var(--purple);
  --accent-2: #b4befe;

  --border: solid 2px var(--grey);
}
