:root {
  /* https://srcery.sh/ */
  --red:      #EF2F27;
  --green:    #519F50;
  --yellow:   #FBB829;
  --blue:     #68A8E4;
  --purple:   #E02C6D;
  --cyan:     #0AAEB3;
  --orange:   #FF5F00;
  --black:    #1C1B19;
  --white:    #FCE8C3;

  --grey:     var(--bg-1);
  --bg-0:     #323232;
  --bg-1:     #505050;
  --bg-2:     #2d2d2d;
  --fg-1:     #ffffff;
  --fg-2:     #ababab;
  --accent-1: #19bbfd;
  --accent-2: #27e9bc;

  --border: solid 2px var(--grey);
}

.highlight, .highlight .w {
  color: var(--white);
  background-color: var(--black);
}

pre, code {
  background-color: var(--black);
}
