:root {
  /* Main colors */
  --red: red;
  --green: green;
  --yellow: yellow;
  --blue: blue;
  --purple: purple;
  --cyan: cyan;
  --orange: orange;
  --grey: grey;

  --bg-0: #323232;
  --bg-1: #505050;
  --bg-2: #2d2d2d;
  --fg-1: #ffffff;
  --fg-2: #ababab;
  --accent-1: #19bbfd;
  --accent-2: #27e9bc;

  --border: solid 2px var(--fg-2);
}
