:root {
  --red:      #FF5D62;
  --green:    #98BB6C;
  --blue:     #7E9CD8;
  --yellow:   #FF9E3B;
  --orange:   #FFA066;
  --cyan:     #A3D4D5;
  --purple:   #957FB8;
  --grey:     #727169;

  --bg-0:     #1F1F28;
  --bg-1:     #363646;
  --bg-2:     #2A2A37;
  --fg-1:     #DCD7BA;
  --fg-2:     #C8C093;
  --accent-1: var(--purple);
  --accent-2: #938AA9;

  --border: solid 2px var(--fg-2);
}

h1 { color: var(--green) !important; }
h2 { color: var(--blue) !important; }

time {
  color: var(--purple) !important;
}
