<hr>
<footer>
  <div class="grid">
    <div>
      <ul style="padding-inline-start: 0">
        <li style="list-style: none">{{ site.author.name }}</li>
        <li style="list-style: none"><a href="mailto:{{site.author.email}}">{{
            site.author.email }}</a></li>
        <li style="list-style: none"><a
            href="https://github.com/ventriloquo">{{
            site.author.github_username }}</a></li>
      </ul>
    </div>
    <hgroup>
      <h3>{{ site.title }}</h3>
      <p>{{ site.description }}</p>
    </hgroup>
  </div>
</footer>
