/*
@import url("/assets/css/themes/default.css");
@import url("/assets/css/code.css");
*/

@font-face {
  src: url("/assets/fonts/jetbrainsmono.woff2");
  font-family: "jetbrains";
}

@font-face {
  src: url("/assets/fonts/shingopro.otf");
  font-family: "switch";
}

:root {
  /* Main colors */
  --red: rgb(248, 17, 24);
  --green: rgb(45, 197, 94);
  --yellow: rgb(236, 186, 15);
  --blue: rgb(42, 132, 210);
  --purple: rgb(78, 90, 183);
  --cyan: var(--accent-2);
  --orange: rgb(243, 189, 9);
  --grey: var(--bg-1);

  --bg-0: #323232;
  --bg-1: #505050;
  --bg-2: #2d2d2d;
  --fg-1: #ffffff;
  --fg-2: #ababab;
  --accent-1: #19bbfd;
  --accent-2: #27e9bc;

  --border: solid 1px var(--bg-1);
}

h1, h2, h3, dd, dt {
  color: var(--fg-1) !important;
}

a {
  color: var(--blue);
  text-decoration: none;
}

a:hover {
  opacity: 80%;
}

.center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button {
  color: var(--fg-1) !important;
}

.button:hover {
  opacity: 90% !important;
  background-color: inherit !important;
}

time {
  color: var(--fg-2) !important;
}

b, strong {
  font-weight: bold !important;
  color: var(--fg-1) !important;
}

@font-face {
  src: url('/assets/shingopro.otf');
  font-family: "Nintendo Switch Font";
}

@font-face {
  src: url('/assets/jetbrainsmono.woff2');
  font-family: "jetbrains";
}

* {
  padding: 0;
  margin: 0;
}


::-webkit-scrollbar {
  display: none;
}


html {
  font-family: "switch", sans-serif;
  background-color: var(--bg-0);
}

body {
  color: var(--fg-1);
}

ul, ol {
    padding-inline-start: 1em;
    padding-inline-end: 1em;
}

dl {
  padding: 1em;
}

dt {
  font-style: italic;
  font-size: large;
  color: var(--blue);
}

dt::before { content: "\"" }
dt::after { content: "\"" }

dd {
  padding-inline-start: 2em;
  color: var(--cyan);
}

del {
  opacity: 80%;
  color: var(--bg-3);
}

.content {
  display: block;
  margin: 0 auto;
  padding: 1em;
  position: relative;
  max-width: 80ch;
  min-height: 100vh;
}

.content ul {
  margin-bottom: 1em;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--bg-0);
  color: var(--fg-1);
  justify-content: space-between;
  max-width: 82.5ch;
  margin: auto;
}

nav {
  background-color: var(--bg-0);
  border-bottom: solid 1px var(--grey);
  height: 60px;
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

.links-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav a {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--accent-2);
}

nav a:hover {
  background-color: var(--accent-2);
  color: var(--bg-0);
}

nav .home-link {
  margin-right: auto;
}

#sidebar-active {
  display: none;
}

nav img, nav hgroup, .open-sidebar-button, .close-sidebar-button {
  display: none;
}

.post {
  background-color: var(--bg-0);
  display: block;
  margin: auto;
  padding: 1em;
  position: relative;
  max-width: 70ch;
  border-radius: 3px;
}

.post-thumbnail {
  display: flex;
  border-radius: var(--border-radius);
  width: 100%;
  height: 200px;
  margin-bottom: 1em;
  background-color: var(--bg-2);
}

.post-thumbnail > p {
  align-content: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 24pt;
}

.cards a, .cards h3 {
  color: var(--fg-1);
}

.card {
  margin: 5px;
  background-color: var(--bg-1);
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
  width: 256px;
  height: 220px;
  justify-content: center;
  transition: all 0.2s;
  border-radius: 3px;
}

.card_image {
  background-color: var(--bg-0);
  color: var(--fg-1);
  height: 130px;
}

.card_image img {
  min-width: 100%;
  margin: 0;
  height: 130px;
  object-fit: cover;
}

.card_image p {
  text-align: center;
  padding-top: 20%;
}

.card_title {
  padding: 10px;
}

.related {
  position: absolute;
  top: 1em;
  left: 75ch;
}

.related h4 {
  color: var(--fg-1);
  font-weight: normal;
  margin-left: 6px;
  text-align: center;
}

.button, .alternative_button {
  border-radius: 3px;
  box-shadow: 0px 1px 2px 0px black;
  font-size: small;
  padding: 6px 20px;
  background-color: var(--bg-1);
  color: var(--fg-1);
  transition: all 0.2s;
}

.button:hover {
  opacity: 100%;
  background-color: var(--accent-2);
  color: var(--bg-0);
}

.button:active, .alternative_button {
  box-shadow: inset 0px 1px 2px 0px black;
  background-color: var(--bg-2);
  color: var(--fg-1);
}

.button:active, .alternative_button:hover {
  opacity: 100%;
}

hr {
  border: none;
  border-bottom: var(--border);
  margin: 1em 0;
}

time {
  color: var(--bg-1);
  font-size: small;
  float: right;
}

.task-list {
  list-style: none;
}

.task-list-item-checkbox {
  margin-left: -1.5em;
  margin-right: 10px;
}

ul, ol {
  margin-left: 10px;
}

hgroup {
  margin-bottom: 1em;
  overflow: hidden;
}

h1, h2, h3 {
  font-weight: normal;
}

h1 {
  color: var(--green);
}

h2 {
  color: var(--purple);
}

h3 {
  color: var(--blue);
}

strong, b {
  font-weight: normal;
  color: var(--red);
}

p {
  padding-bottom: 1em;
}

pre {
  padding: 1em;
}

pre, code {
    background-color: var(--bg-1);
    font-family: "jetbrains";
}

pre:has(code) {
  background-color: var(--bg-2) !important;
}

p > code {
  padding: 5px;
  border-radius: 3px;
}

blockquote {
    background-color: var(--bg-1);
    color: var(--fg-1);
    border-left: solid 5px var(--accent-1);
    padding: 10px 20px;
    margin: 10px auto;
}

img {
  max-width: 100%;
  max-height: 400px;
  display: block;
  margin: auto;
}

table, th, td {
    padding: 5px;
    border-collapse: collapse;
}

table {
    border: none;
    overflow: scroll;
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
    border: var(--border);
}

th, td {
    padding-left: 1em;
    padding-right: 1em;
    margin: 0;
}

th {
    font-weight: bold;
    background-color: var(--bg-1);
}

tr {
    background-color: var(--bg-0);
}

tr:nth-of-type(even) {
    background-color: var(--fg-2);
    color: var(--bg-0);
}

thead > tr > th {
    background-color: var(--bg-1);
    color: var(--fg-1);
    font-weight: normal;
    border-bottom: var(--border);
}

colgroup {
    border: solid 2px var(--fg-2);
}

blockquote {
    margin-bottom: 1em;
}

sup {
  color: var(--grey);
}
footer {
  position: relative;
  padding: 1em 0;
  margin-top: 2em;
  text-align: center;
  background-color: var(--grey);
}

footer > p {
  margin: 0;
  padding: 0;
}

.collection a:hover {
  opacity: 100%;
}

.collection img {
  max-width: 200px;
  max-height: 200px;
  display: initial;
  margin: 5px;
  border: solid 3px transparent;
  transition: all 0.2s;
}

.collection img:hover {
  border: solid 3px var(--accent-1);
}
@media only screen and (max-width: 768px) {
  #search {
    width: 40ch;
  }

  nav {
    backdrop-filter: none;
    background-color: var(--bg-0);
    z-index: 100;
  }

  nav img {
    display: block;
    margin: 0.8em;
    border: var(--border);
    border-radius: var(--border-radius);
    max-width: 30%;
  }

  .links-container {
    flex-direction: column;
    align-items: flex-start;

    position: fixed;
    top: 0;
    left: -102%;
    z-index: 100;
    width: 100%;

    background-color: var(--bg-2);
    transition: 0.30s ease-out;
  }

  nav a {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
  }

  .open-sidebar-button, .close-sidebar-button {
    padding: 20px;
    display: block;
  }

  #sidebar-active:checked ~ .links-container {
    left: 0;
  }
  
  .post-thunbnail {
    font-size: medium;
  }
}

@media only screen and (max-width: 800px) {

  h1 {
    font-size: larger;
  }
  h2, h3 {
    font-size: large;
  }
  .related {
    position: initial;
    margin: 10px;
    margin-bottom: 5em;
  }
  .related .card {
    margin: 1em auto;
    width: 256px;
    height: 220px;
  }
  .related .card_image {
    height: 130px;
  }
  .related .card_image img {
    margin: 0;
    height: 130px;
    object-fit: cover;
  }
  .collection img {
    max-width: 300px;
    max-height: 300px;
  }
  .post {
    margin: 0;
    border-radius: 0;
  }
  footer div {
    float: left !important;
  }
  .switcher {
    display: none;
  }
}

