.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight, .highlight .w {
  color: var(--fb-2);
  background-color: var(--bg-2);
}
.highlight .err {
  color: var(--red);
  background-color: var(--bg-2);
  font-weight: bold;
}
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cpf, .highlight .c1, .highlight .cs {
  color: var(--grey);
  font-style: italic;
}
.highlight .cp {
  color: var(--cyan);
}
.highlight .nt {
  color: var(--red);
}
.highlight .o, .highlight .ow {
  color: var(--fb-2);
}
.highlight .p, .highlight .pi {
  color: var(--fb-2);
}
.highlight .gi {
  color: var(--green);
  background-color: var(--bg-2);
}
.highlight .gd {
  color: var(--red);
  background-color: var(--bg-2);
}
.highlight .gh {
  color: var(--green);
  font-weight: bold;
}
.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
  color: var(--red);
}
.highlight .kc {
  color: var(--purple);
}
.highlight .kt {
  color: var(--yellow);
}
.highlight .kd {
  color: var(--orange);
}
.highlight .s, .highlight .sb, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
  color: var(--green);
  font-style: italic;
}
.highlight .si {
  color: var(--green);
  font-style: italic;
}
.highlight .sr {
  color: var(--green);
  font-style: italic;
}
.highlight .sa {
  color: var(--red);
}
.highlight .se {
  color: var(--orange);
}
.highlight .nn {
  color: var(--blue);
}
.highlight .nc {
  color: var(--blue);
}
.highlight .no {
  color: var(--purple);
}
.highlight .na {
  color: var(--green);
}
.highlight .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx {
  color: var(--purple);
}
.highlight .ss {
  color: var(--cyan);
}

.highlight .p {
  color: var(--orange);
}

.highlight .n, .highlight .nf {
  color: var(--blue);
}


