.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }

.highlight {
  overflow: scroll;
  margin-top: 1em;
  margin-bottom: 1em;
}

.highlight, .highlight .w {
  color: var(--white);
  background-color: var(--black);
}

.highlight .err {
  color: var(--red);
  background-color: var(--bg-2);
  font-weight: bold;
}

.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cpf, .highlight .c1, .highlight .cs {
  color: var(--grey);
  font-style: italic;
}

.highlight .cp {
  color: var(--red);
}

.highlight .cpf {
  color: var(--green);
}

.highlight .nt {
  color: var(--red);
}

.highlight .p, .highlight .pi, .highlight .o, .highlight .ow {
  color: var(--white);
}

.highlight .gi {
  color: var(--green);
  background-color: var(--bg-2);
}

.highlight .gd {
  color: var(--red);
  background-color: var(--bg-2);
}

.highlight .gh {
  color: var(--green);
  font-weight: bold;
}

.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
  color: var(--red);
}

.highlight .kc {
  color: var(--magenta);
}

.highlight .kt {
  color: var(--blue);
}

.highlight .kd {
  color: var(--orange);
}

.highlight .s, .highlight .sb, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
  color: var(--green);
  font-style: italic;
}

.highlight .si {
  color: var(--green);
  font-style: italic;
}

.highlight .sr {
  color: var(--green);
  font-style: italic;
}

.highlight .sa {
  color: var(--red);
}

.highlight .se {
  color: var(--orange);
}

.highlight .nn {
  color: var(--yellow);
}

.highlight .nc {
  color: var(--yellow);
}

.highlight .no {
  color: var(--magenta);
}

.highlight .na {
  color: var(--green);
}

.highlight .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx {
  color: var(--magenta);
}

.highlight .ss {
  color: var(--cyan);
}

.highlight .nf {
  color: var(--yellow);
}

.highlight .nx, .highlight .n {
  color: var(--cyan);
}

.highlight .nd {
  color: var(--orange);
}

.highlight .nb {
  color: var(--orange);
}

.language-c .n {
  color: var(--white);
}

.language-md .p, .language-elisp .p  {
  color: var(--grey);
}

.highlighter-rouge {
  position: relative;
}

div.highlight {
  border-top: solid 2em var(--orange);
}

.highlighter-rouge::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 10px;
  text-align: right;
  color: var(--black);
  font-size: small;
}

.language-c.highlighter-rouge::before {
  content: "C"
}

.language-elisp.highlighter-rouge::before {
  content: "Emacs Lisp"
}

.language-rust.highlighter-rouge::before {
  content: "Rust"
}

.language-javascript.highlighter-rouge::before {
  content: "JavaScript"
}

.language-go.highlighter-rouge::before {
  content: "Go"
}

.language-haskell.highlighter-rouge::before {
  content: "Haskell"
}

.language-python.highlighter-rouge::before {
  content: "Python"
}

.language-java.highlighter-rouge::before {
  content: "Java"
}

.language-sh.highlighter-rouge::before {
  content: "Shell"
}

.language-md.highlighter-rouge::before {
  content: "Markdown"
}
