:root {
    --foreground:       #f4f4ff;
    --background:       #181818;
    --background-code:  #282828;
    --background-alt:   #453d41;
    --accent:           #ffdd33;
    --link:             #96a6c8;
    --heading:          #9e95c7;
    --mode-bar:         var(--background-code);
    --border:           solid 1px var(--background-alt);    
}

