* {
  padding: 0;
  margin: 0;
}

@font-face {
  src: url('/assets/AOTFShinGoProRegular.otf');
  font-family: "Nintendo Switch Font";
}

::-webkit-scrollbar {
  display: none;
}

:root {
  /* Main colors */
  --bg-0: #323232;
  --bg-1: #505050;
  --bg-2: #2d2d2d;
  --fg-1: #ffffff;
  --fg-2: #ababab;
  --accent-1: #19bbfd;
  --accent-2: #27e9bc;
  --border: solid 2px var(--fg-2);
}

html {
  font-family: "Nintendo Switch Font", sans-serif;
  background-color: var(--bg-0);
}

body {
  color: var(--fg-1);
}

ul, ol {
    padding-inline-start: 1em;
    padding-inline-end: 1em;
}

.content ul {
  margin-bottom: 1em;
}

.content {
  background-color: var(--bg-2);
  display: block;
  margin: 0 auto;
  padding: 1em;
  position: relative;
  z-index: 100;
  /*max-width: 80ch;*/
  min-height: 100vh;
}

.post {
  background-color: var(--bg-2);
  display: block;
  padding: 1em;
  position: relative;
  z-index: 100;
  max-width: 70ch;
}

.cards a {
  color: var(--fg-1);
}

.cards a:hover {
  opacity: 100%;
}

.card {
  margin: 5px;
  background-color: var(--bg-1);
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
  width: 256px;
  height: 220px;
  border: solid 3px transparent;
  justify-content: center;
  transition: all 0.2s;
}

.card:hover {
  border: solid 3px var(--accent-1);
}

.card_image {
  background-color: var(--fg-2);
  color: var(--bg-1);
  height: 130px;
}

.card_image img {
  min-width: 100%;
  margin: 0;
  height: 130px;
  object-fit: cover;
}

.card_image p {
  text-align: center;
}

.card_title {
  padding: 10px;
}

.related {
  position: absolute;
  top: 1em;
  left: 75ch;
}

.related h4 {
  color: var(--fg-1);
  margin-left: 6px;
}

header {
  padding: 10px;
}

header > p {
  padding: 0;
}

time {
  color: var(--bg-1);
  float: right;
  font-size: small;
}

a {
    color: var(--accent-1);
    text-decoration: none;
}

a:hover {
  opacity: 80%;
}

.navbar {
  background-color: var(--bg-2);
  color: var(--fg-1);
  padding: 1em 0;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: var(--accent-2);
  padding: 20px 16px;
  transition: all 0.2s;
}

.navbar a:hover {
  background-color: var(--accent-2);
  color: var(--bg-2);
  opacity: 100%;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar > ul {
    padding-inline-start: 0;
    padding-inline-end: 0;
}

hgroup {
  margin-bottom: 1em;
  overflow: hidden;
}

hgroup > h1 {
  margin-bottom: -0.5em;
}

b {
  text-decoration: underline;
}

p {
  padding-bottom: 1em;
}

pre {
  padding: 1em;
  background-color: #1d2021;
}

code {
    background-color: #1d2021;
    padding: 3px;
}

blockquote {
    background-color: var(--bg-1);
    color: var(--fg-1);
    border-left: solid 5px var(--accent-1);
    padding: 10px 20px;
    margin: 10px auto;
}

img {
  max-width: 100%;
  max-height: 400px;
  display: block;
  margin: 1em auto;
}

table, th, td {
    border: var(--border-obs);
    padding: 5px;
    border-collapse: collapse;
}

table {
    border: none;
    overflow: scroll;
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    padding-left: 1em;
    padding-right: 1em;
    margin: 0;
}

th {
    font-weight: bold;
    background-color: var(--bg-1);
}

tr {
    background-color: var(--bg-1);
}

tr:nth-of-type(even) {
    background-color: var(--fg-2);
    color: var(--bg-1);
}

thead > tr > th {
    background-color: var(--fg-2);
    color: var(--bg-1);
}

colgroup {
    border: solid 2px var(--fg-2);
}

pre, blockquote {
    margin-bottom: 1em;
}

.colection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
}

.colection img {
  max-width: 200px;
  max-height: 200px;
  display: initial;
  margin: 5px;
  border: solid 3px transparent;
  transition: all 0.2s;
}

.colection img:hover {
  border: solid 3px var(--accent-1);
}

@media only screen and (orientation: portrait) {
  h1 {
    font-size: larger;
  }
  h2, h3 {
    font-size: large;
  }
  .related {
    position: initial;
  }
  .related .card {
    margin: 5px;
    width: 96%;
    height: 220px;
  }
  .related .card_image {
    height: 130px;
  }
  .related .card_image img {
    margin: 0;
    height: 130px;
    object-fit: cover;
  }
}

.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight, .highlight .w {
  color: #fbf1c7;
  background-color: #282828;
}
.highlight .err {
  color: #fb4934;
  background-color: #282828;
  font-weight: bold;
}
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cpf, .highlight .c1, .highlight .cs {
  color: #928374;
  font-style: italic;
}
.highlight .cp {
  color: #8ec07c;
}
.highlight .nt {
  color: #fb4934;
}
.highlight .o, .highlight .ow {
  color: #fbf1c7;
}
.highlight .p, .highlight .pi {
  color: #fbf1c7;
}
.highlight .gi {
  color: #b8bb26;
  background-color: #282828;
}
.highlight .gd {
  color: #fb4934;
  background-color: #282828;
}
.highlight .gh {
  color: #b8bb26;
  font-weight: bold;
}
.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
  color: #fb4934;
}
.highlight .kc {
  color: #d3869b;
}
.highlight .kt {
  color: #fabd2f;
}
.highlight .kd {
  color: #fe8019;
}
.highlight .s, .highlight .sb, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
  color: #b8bb26;
  font-style: italic;
}
.highlight .si {
  color: #b8bb26;
  font-style: italic;
}
.highlight .sr {
  color: #b8bb26;
  font-style: italic;
}
.highlight .sa {
  color: #fb4934;
}
.highlight .se {
  color: #fe8019;
}
.highlight .nn {
  color: #8ec07c;
}
.highlight .nc {
  color: #8ec07c;
}
.highlight .no {
  color: #d3869b;
}
.highlight .na {
  color: #b8bb26;
}
.highlight .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx {
  color: #d3869b;
}
.highlight .ss {
  color: #83a598;
}


