.content {
    max-width: 60ch;
    display: block;
    margin: 1em auto;
    padding: 10px;
    min-height: 100vh;
}

.org-center {
    text-align: center;
}

.verse {
    font-style: italic;
    color: var(--accent);
    border-top: solid 3px var(--accent);
    border-bottom: solid 3px var(--accent);
    padding: 10px;
    background-color: var(--background-alt);
}

#table-of-contents {
    background-color: var(--background-code);
    padding: 10px;
}

#table-of-contents > h2 {
    background-color: var(--background-code);
    color: var(--foreground);
    border: none;
    margin: 0;
}

#table-of-contents > h2::before {
    content: ""
}

