---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

#search-container {
    max-width: 800px;
}

input[type=text] {
  font-size: normal;
  outline: none;
  padding: 1rem;
  background: var(--solarized-mono2);
  color: var(--solarized-mono01);
  display: block;
  margin: auto;
  width: calc(100% - 36px);
  -webkit-appearance: none;
  font-family: inherit;
  font-size: 100%;
  border: solid 2px var(--solarized-mono1);
  border-radius: 5px;
}

#results-container {
  margin: .5rem 0;
}

.highlighter-rouge {
  position: relative;
}

div.highlighter-rouge::before {
  content: "";
  background-color: var(--solarized-mono2);
  position: absolute;
  right: 0;
  padding: 0.2em 0.5em;
  border-end-start-radius: 5px;
}

div.language-c::before {
  content: "c";
}
div.language-docker::before {
  content: "docker";
}
div.language-xml::before {
  content: "xml";
}
div.language-javascript::before {
  content: "javascript";
}
div.language-liquid::before {
  content: "liquid";
}
div.language-make::before {
  content: "make";
}
div.language-conf::before {
  content: "conf"
}
div.language-markdown::before {
  content: "markdown";
}
div.language-html::before {
  content: "html";
}
div.language-css::before {
  content: "css";
}
div.language-lua::before {
  content: "lua";
}
div.language-go::before {
  content: "go";
}
div.language-json::before {
  content: "json";
}
div.language-yaml::before {
  content: "yaml";
}
div.language-toml::before {
  content: "toml";
}
div.language-shell::before {
  content: "shell";
}
div.language-rust::before {
  content: "rust";
}
div.language-python::before {
  content: "python";
}
div.language-ruby::before {
  content: "ruby";
}
