@import url("./intro.css");

@font-face {
  src: url("/assets/fonts/Nunito-Regular.ttf");
  font-family: "text";
  font-display: swap;
}

@font-face {
  src: url("/assets/fonts/GoogleSansCode-Regular.ttf");
  font-family: "code";
  font-display: swap;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-down {
  from {
    transform: translateY(-3em);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Dark Mode (Monokai Pro Dark) */
:root {
  --fg:   #FCFCFA;
  --bg-0: #2D2A2E;
  --bg-1: #221F22;
  --bg-2: #403E41;

  --ac-0: var(--purple_rgb);
  --ac-1: var(--yellow_rgb);

  --red_rgb: 255, 97, 136;
  --green_rgb: 169, 220, 118;
  --yellow_rgb: 255, 216, 102;
  --blue_rgb: 120, 220, 232;
  --purple_rgb: 171, 157, 242;
  --cyan_rgb: 252, 152, 103;

  --red: rgb(var(--red_rgb));
  --green: rgb(var(--green_rgb));
  --yellow: rgb(var(--yellow_rgb));
  --blue: rgb(var(--blue_rgb));
  --purple: rgb(var(--purple_rgb));
  --cyan: rgb(var(--cyan_rgb));
}

/* Light Mode (Everfores Light Hard) */
:root.light-mode {
  --fg: #5C6A72;
  --bg-0: #F2EFDF;
  --bg-1: #FFFBEF;
  --bg-2: #F8F5E4;

  --red_rgb:    248, 85, 82;
  --green_rgb:  141, 161, 1;
  --yellow_rgb: 223, 160, 0;
  --blue_rgb:   58, 148, 197;
  --purple_rgb: 223, 105, 186;
  --cyan_rgb:   53, 167, 124;

  --ac-0: var(--cyan_rgb);
  --ac-1: var(--red_rgb);
}

*::-webkit-scrollbar {
  background-color: var(--bg-1);
  width: 0.3em;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--bg-0);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgb(var(--ac-0));
}

noscript {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  padding: 1em;
}

html {
  display: block;
  margin: auto;
  scroll-padding-top: 4em;
}

body {
  display: block;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "text", Sans-Serif, system-ui;
  font-size: large;
  background-color: var(--bg-1);
  color: var(--fg);
}

a {
  text-decoration: none;
  text-decoration: underline;
  text-underline-offset: 0.3em;
  color: rgba(var(--ac-0), 1);

  &:hover {
    color: var(--bg-1);
    background-color: rgba(var(--ac-0), 1);
    text-decoration: none;
    border-radius: 5px;
  }

  &[href^="http"]::after {
    content: "\2197";
  }

  &.blog_entry {
    color: var(--fg);
    font-family: "text", Sans-Serif, system-ui;
  }

  &.link_button {
    margin: 5px;
    width: 120px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;

    &::after {
      content: "";
    }
  }
}

nav {
  display: none;
  flex-direction: column;
  position: fixed;
  height: 100%;
  justify-content: space-between;
  background-color: var(--bg-0);

  div {
    display: flex;
    flex-direction: column;
  }

  a {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    text-align: center;
    transition: all 100ms;
    border-radius: 5px;
    text-decoration: none;
  }

  .mobile_menu {
    display: none;
  }

  .desktop_menu {
    display: flex;
    flex-direction: column;
  }
}

main {
  position: relative;
  max-width: 80ch;
  display: block;
  margin: auto;
}

section {
  display: none;
  width: -webkit-fill-available;
  min-height: 100vh;
  padding: 1em;
  position: absolute;
  top: 0;
  z-index: 5;
  background-color: var(--bg-1);

  &#intro,
  &:target {
    display: block;
    animation: fade-in 500ms;
  }
}

img {
  max-width: 100%;
  max-height: 400px;
  display: block;
  margin: 1em auto;
  user-select: none;
}

pre {
  font-family: "code", monospace;
  border: solid 0.1em;
  border-radius: 3px;
  margin: 0;
  overflow: scroll;
  padding: 10px;

  &::-webkit-scrollbar {
    display: none;
  }

  &.src {
    position: relative;
    color: #FCFCFA;
    background-color: #2D2A2E;

    &:has(+ &) {
      margin-bottom: 1em;
    }
  }

  &.src,
  &.example {
    border-color: #403E41;
  }

  &.example {
    color: #FCFCFA;
    background-color: #403E41;
  }

  &.src:has(+ &.example) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
    margin-bottom: 0;
  }

  &.src + &.example {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
  }

  .red       { color: #FF6188; }
  .green     { color: #A9DC76; }
  .blue      { color: #78DCE8; }
  .purple    { color: #AB9DF2; }
  .orange    { color: #FC9867; }
  .yellow    { color: #FFD866; }
  .grey      { color: #C1C0C0; }
  .dark-grey { color: #939293; }

  span {
    span {
      color: inherit !important;
    }
  }
)}

li {
  padding-inline-start: 10px;
  list-style-position: inside;
}

li + br {
  display: none;
}

ul,
ol {
  padding-inline-start: 0;
}

ul {
  &:has(.blog_entry) {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.button {
  padding: 3px 10px;
  border-radius: 5px;
  transition: all 300ms;
  text-decoration: none;
  margin: 5px;
  display: block;
  line-height: 2.0;
  color: var(--fg);
  background-color: var(--bg-0);
  user-select: none;

  &:hover {
    color: var(--fg);
    background-color: var(--bg-2);
  }

  &:active {
    border-radius: 0;
  }
}

.active {
  background-color: var(--bg-2);
}

li:has(.blog_entry) {
  line-height: 2.0;
  padding-inline-start: 0px;
  margin: 10px 0;
  list-style: none;

  .button {
    border-radius: 0;
  }

  & + li,
  &:has(+ li) {
    margin-bottom: 0;
    margin-top: 0;
    a {
      margin-bottom: 0;
      margin-top: 1px;
    }
  }

  &:first-child .button {
    margin-top: 10px;
    border-start-start-radius: 5px;
    border-start-end-radius: 5px;
  }

  &:last-child .button {
    margin-bottom: 10px;
    border-end-start-radius: 5px;
    border-end-end-radius: 5px;
  }
}

blockquote {
  margin: 1em 0;
  padding: 0.3em 1em;
  border-radius: 3px;
  line-height: 1.3;
  border-left: solid 0.3em;
  position: relative;

  & #padding {
    display: none !important;
  }

  &.quote {
    color: rgba(var(--ac-0), 1);
    background-color: rgba(var(--ac-0), 0.05);
    border-color: rgba(var(--ac-0), 1);

    & code {
      background-color: rgba(var(--ac-0), 1);
    }
  }

  &.note {
    padding-top: 20px;
    position: relative;
    color: rgba(var(--ac-1), 1);
    background-color: rgba(var(--ac-1), 0.05);
    border-color: rgba(var(--ac-1), 1);

    &::before {
      content: "Nota";
      padding: 2px 1em;
      position: absolute;
      top: 0;
      left: 0;
      border-end-end-radius: 5px;
      color: var(--bg-1);
      background-color: rgba(var(--ac-1), 1);
    }

    & code {
      background-color: rgba(var(--ac-1), 1);
    }
  }

  & span {
    padding-top: 2em;
    position: absolute;
    padding: 0.3em 1em;
    border-end-end-radius: 5px;
    top: 0;
    left: 0;
    font-weight: normal;
    background-color: rgba(var(--ac-0), 1);
    color: var(--bg-0);
  }
}

h1,
h3 {
  margin-block-start: 0;
  margin-bottom: 0.3em;
  max-width: 100%;
}

h2 {
  font-size: x-large;
}

p {
  line-height: 1.3;

  code {
    font-family: "code", monospace;
    font-size: medium;
    border-radius: 5px;
    padding: 2px 6px;
    display: inline-block;
    color: var(--bg-1);
    background-color: var(--fg);
  }
}

progress {
  border-radius: 5px;
  width: 100%;
  border: none;
  background-color: var(--bg-1);

  -webkit-appearance: none;

  &::-webkit-progress-bar,
  &::-webkit-progress-value {
    border-radius: 5px;
  }

  &::-webkit-progress-bar {
    background-color: var(--bg-1);
  }

  &::-webkit-progress-value {
    background-color: rgba(var(--ac-0), 1);
  }

  &.green_bar::-webkit-progress-value {
    background-color: var(--green);
  }

  &.yellow_bar::-webkit-progress-value {
    background-color: var(--yellow);
  }

  &.red_bar::-webkit-progress-bar {
    background-color: var(--red);
  }
}

hr {
  border: none;
  border-top: solid 3px;
  color: var(--bg-0);
}

table {
  border-collapse: collapse;
  border: solid 0.1em;
  width: 100%;
  border-color: rgba(var(--ac-0), 1) !important;

  & + progress {
    border-radius: 0;

    &::-webkit-progress-bar,
    &::-webkit-progress-value {
      border-radius: 0;
    }
  }

  th {
    padding: 0.5em;
    text-align: center;
    background-color: rgba(var(--ac-0), 1);
    color: var(--bg-0);
  }

  tr {
    background-color: var(--bg-0);
    &:nth-child(even) {
      background-color: var(--bg-1);
    }
  }

  td {
    padding: 3px 5px;
    &:nth-child(even) {
      border-right: solid 0.1em;
      border-left: solid 0.1em;
      border-color: rgba(var(--ac-0), 1) !important;
    }
  }
}

.book {
  text-align: center;
  height: fit-content;
  border-radius: 5px;
  transition: all 400ms;
  margin: 5px;
  background-color: var(--bg-0);

  .book_progress {
    display: none;
  }

  img {
    border-radius: 5px;
    margin: 0;
    position: relative;
    z-index: 200;
  }

  progress {
    width: 90%;

    &::-webkit-progress-bar {
      border-radius: 5px;
    }
  }

  &:hover {
    scale: 1.2;
    z-index: 300;
    height: fit-content;
    background-color: var(--bg-2);

    img {
      border-end-start-radius: 0;
      border-end-end-radius: 0;
    }

    .book_progress {
      display: block;
      animation: slide-down 300ms both;
      padding-top: 1em;
      padding-bottom: 1em;
      margin-top: -1px;
      margin-bottom: -10em;
      background-color: var(--bg-0);
      border-end-start-radius: 5px;
      border-end-end-radius: 5px;
    }
  }
}

.book_info {
  display: grid;
  grid-template-areas:
    "book review"
    "rating rating"
    "exit exit";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr 1fr;
  gap: 10px;

  .book_info_book {
    grid-area: book;
    img {
      border-radius: 5px;
    }
  }

  .book_info_review {
    grid-area: review;

    blockquote {
      margin: 0;
    }
  }

  .book_info_rating {
    grid-area: rating;
  }

  .book_info_exit {
    grid-area: exit;
  }
}

.project {
  align-items: center;
  img {
    max-width: 200px;
  }

  .project_info {
    max-width: 50ch;
    margin-left: 2em;
  }
}

.game {
  margin: 0;
  width: 180px;
  height: 180px;
  transition: all 500ms;
  position: relative;
  z-index: 100;

  &:hover {
    scale: 1.2;
    z-index: 200;
  }
}

#searchBox {
  background-color: var(--bg-0);
  color: var(--fg);
  border: none;
  border-radius: 5px;
  padding: 10px 8px;
  margin: auto 5px;
  width: -webkit-fill-available;
  font-size: large;

  &:focus-within {
    color: rgb(var(--ac-0));
  }

  &:focus-visible {
    outline-color: rgb(var(--ac-0));
    outline-style: solid;
    outline-width: medium;
  }
}

details {
  padding: 0.3em;
  user-select: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 1em 0;
  transition: all 300ms;
  background-color: var(--bg-0);

  &:hover {
    .not_done,
    .doing,
    .done {
      background-color: var(--bg-0);
    }
    .not_done {
      color: var(--red);
    }
    .done {
      color: var(--green);
    }
    .doing {
      color: var(--yellow);
    }
  }

  summary {
    font-size: x-large;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding-bottom: 0.5em;

    .status {
      align-content: center;
      margin-bottom: 0.5em;
      padding: 0.3em;
      border-radius: 5px;
      color: var(--bg-1);

      &.done {
        background-color: var(--green);
      }
      &.doing {
        background-color: var(--yellow);
      }
      &.not_done {
        background-color: var(--red);
      }
    }
  }

  &:has(.done):hover,
  &:has(.doing):hover,
  &:has(.not_done):hover {
    color: var(--bg-1);

    .done,
    .doing,
    .not_done {
      transition: all 300ms;
      background-color: var(--bg-0);
    }
  }

  &:has(.done):hover {
    background-color: var(--green);
  }

  &:has(.doing):hover {
    background-color: var(--yellow);
  }

  &:has(.not_done):hover {
    background-color: var(--red);
  }

  &:has(.done):hover,
  &:has(.doing):hover,
  &:has(.not_done):hover {
    a {
      border-radius: 5px;
      text-decoration: none;
      background-color: var(--bg-0);
      color: rgb(var(--ac-0));

      &:hover {
        color: var(--bg-0);
        background-color: rgb(var(--ac-0));
      }
    }
  }

  p {
    border-radius: 5px;
    padding: 5px;
    margin: 0;
    user-select: text;
  }
}
