/* Dark Mode (GNOME Dark Theme) */
:root {
  --fg:   #deddda;
  --bg-0: #3d3846;
  --bg-1: #241f31;
  --ac-0: 53, 132, 228;
  --ac-1: 51, 209, 122;
  
  --red:    #e01b24;
  --green:  #33d17a;
  --yellow: #f6d32d;
  --blue:   #3584e4;
  --purple: #9141ac;
  --cyan:   #99c1f1;
}

nav {
  a:hover {
    color: var(--fg) !important;
    background-color: #5e5c64 !important;
  }
}

li:has(.blog_entry) a {
  background-color: var(--bg-0) !important;
  color: var(--fg) !important;

  &:hover {
    background-color: #5e5c64 !important;
  }
}

pre.src {
  background-color: var(--bg-0) !important;
  color: var(--fg) !important;
}

pre.src, pre.example {
  border-color: rgba(var(--ac-0), 1);
}
  
details:hover {
  .not_done, 
  .doing, 
  .done     { background-color: var(--bg-0)     !important; }
  .not_done { color: var(--red)                 !important; }
  .done     { color: var(--green)               !important; }
  .doing    { color: var(--yellow)              !important; }
}


