/* Dark Mode (Gruvbox Dark) */
:root {
  --fg: #ebdbb2;
  --bg-0: #32302f;
  --bg-1: #282828;
  --bg-2: #3c3436;

  --red_rgb: 204, 36, 29;
  --green_rgb: 152, 151, 26;
  --yellow_rgb: 215, 153, 33;
  --blue_rgb: 69, 133, 136;
  --purple_rgb: 177, 98, 134;
  --cyan_rgb: 104, 157, 106;

  --ac-0: var(--green_rgb);
  --ac-1: var(--blue_rgb);

  --red: rgb(var(--red_rgb));
  --green: rgb(var(--green_rgb));
  --yellow: rgb(var(--yellow_rgb));
  --blue: rgb(var(--blue_rgb));
  --purple: rgb(var(--purple_rgb));
  --cyan: rgb(var(--cyan_rgb));
}

/* Light Mode (Gruvbox light) */
@media only screen and (prefers-color-scheme: light) {
  :root {
    --fg: #3c3436;
    --bg-0: #f2e5bc;
    --bg-1: #fbf1c7;
    --bg-2: #ebdbb2;

    --ac-1: var(--green_rgb);
    --ac-0: var(--blue_rgb);
  }

  a.link_button, a.feedback_button, .book, .close_button, details {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4) !important;
  }

  progress {
    background-color: var(--bg-1) !important;
  }
}

body {
  background-color: var(--bg-1);
  color: var(--fg);
}

a {
  color: rgba(var(--ac-0), 1);

  &:hover {
    color: var(--bg-1);
    background-color: rgba(var(--ac-0), 1);
  }

  &.blog_entry {
    color: var(--fg);
  }
}

nav {
  background-color: var(--bg-0);
}

section {
  background-color: var(--bg-1);
}

.button {
  color: var(--fg);
  background-color: var(--bg-0);

  &:hover {
    color: var(--fg);
    background-color: var(--bg-2);
  }
}

pre {
  color: var(--fg);
  background-color: var(--bg-0);
}

details {
  background-color: var(--bg-0);

  &:hover {
    .not_done,
    .doing,
    .done {
      background-color: var(--bg-0);
    }

    .not_done {
      color: var(--red);
    }

    .done {
      color: var(--green);
    }

    .doing {
      color: var(--yellow);
    }
  }

  summary {
    .status {
      color: var(--bg-1);

      &.done {
        background-color: var(--green);
      }

      &.doing {
        background-color: var(--yellow);
      }

      &.not_done {
        background-color: var(--red);
      }
    }
  }

  &:has(.done):hover,
  &:has(.doing):hover,
  &:has(.not_done):hover {
    color: var(--bg-1);

    .done,
    .doing,
    .not_done {
      background-color: var(--bg-0);
    }
  }

  &:has(.done):hover {
    background-color: var(--green);
  }

  &:has(.doing):hover {
    background-color: var(--yellow);
  }

  &:has(.not_done):hover {
    background-color: var(--red);
  }

  p {
    background-color: var(--bg-0);
    color: var(--fg);
  }
}

blockquote {
  color: rgba(var(--ac-0), 1);
  background-color: rgba(var(--ac-0), 0.05);
  border-color: rgba(var(--ac-0), 1);

  & pre {
    background-color: var(--bg-1);
  }

  &:has(strong em) {
    color: rgba(var(--ac-1), 1);
    background-color: rgba(var(--ac-1), 0.05);
    border-color: rgba(var(--ac-1), 1);
  }

  & strong em {
    color: var(--bg-1);
    background-color: rgba(var(--ac-1), 1);
    border-color: rgba(var(--ac-1), 1);

    & code {
      background-color: rgba(var(--ac-1), 1);
    }
  }

  & p strong {
    background-color: rgba(var(--ac-0), 1);
    color: var(--bg-0);
  }
}

p {
  code {
    color: var(--bg-1);
    background-color: var(--fg);
  }
}

progress {
  background-color: var(--bg-0);
}

hr {
  color: var(--bg-0);
}

table {
  border-color: rgba(var(--ac-0), 1) !important;

  th {
    background-color: rgba(var(--ac-0), 1);
    color: var(--bg-0);
  }

  tr {
    background-color: var(--bg-0);

    &:nth-child(even) {
      background-color: var(--bg-1);
    }
  }

  td {
    &:nth-child(even) {
      border-color: rgba(var(--ac-0), 1) !important;
    }
  }
}
