@font-face {
    src: url('/assets/Rubik-Regular.ttf');
    font-family: 'rubik';
    font-display: swap;
}

@font-face {
    src: url('/assets/Iosevka-Regular.ttf');
    font-family: 'iosevka';
    font-display: swap;
}

::-webkit-scrollbar {
    display: none;
}

html {
    display: block;
    margin: 0 auto;
    padding: 0;
    scroll-padding-top: 1em;
    background-color: var(--bg-0);
}

body {
    display: block;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'rubik', system-ui, Sans-Serif;
    font-size: large;
    color: var(--fg);
    background-color: var(--bg-1);
    position: relative;
}

a {
    text-decoration: none;
    text-underline-offset: .3em;
    color: var(--ac);
    
    &:hover {
	color: var(--bg-1);
	background-color: var(--ac);
	text-decoration: none;
    }
    
    &[href^="http"]::after {
	content: "\2197";
    }
}

#preamble {
    header {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
/*	justify-content: space-between; */
	align-items: center;

	a {
	    display: block;
	    text-align: center;
	    padding: 10px;
	    font-size: large;
	    transition: all 300ms;
	}
    }
    
    & a {
	padding: 10px;
	margin: 5px;
	transition: all 100ms;
	border-radius: 5px;
	text-decoration: none;
	color: var(--fg);
	
	&:hover {
	    text-decoration: underline;
	    text-underline-offset: .2em;
	    color: var(--bg-1);
	    background-color: var(--ac);
	}

	&:active {
	    border-radius: 0;
	}
    }
}

#content {
    padding: 1em;
    display: block;
    margin: auto;
}

#postamble {
    padding: 1em;
    background-color: var(--bg-0);
    display: block;
    margin: 1em auto 0 auto;
    border-start-start-radius: 5px;
    border-start-end-radius: 5px;

    .buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
	a {
	    border: none;
	    
	    &::after {
		content: '';
	    }

	    img {
		margin: 0;
		width: 88px;
		height: 31px;
		object-fit: cover;
		
	    }
	}
    }
    
    footer {
	a {
	    border: none;
	    padding: 0;
	}
    }
}

#content, #postamble {
    a {
	padding: 2px 5px;
	border: solid 1px var(--ac);
	border-radius: 5px;
	transition: all 300ms;
    }
}

img {
    max-width: 100%;
    max-height: 400px;
    display: block;
    margin: 1em auto;
}

del {
    opacity: .5;
}

table {
    width: 100%;
    margin: 1em 0;
    border: solid 1px;
    background-color: var(--bg-0);
    border-color: var(--ac);
    
    tbody {
	border-top: solid 1px;
	border-color: var(--ac);
    }

    th {
	color: var(--bg-1);
	background-color: var(--ac);
	padding: .3em 0;
    }

    td {
	border-right: solid 1px;
	padding: 0 .3em;
	border-color: var(--ac);
    }
    
    tr:nth-child(even) {
	background-color: var(--bg-1);
    }
}

.title {
    text-align: left;
    font-size: xx-large;
}

.src, .example {
    font-family: "iosevka", monospace;
    border: solid .2em;
    border-radius: 3px;
    margin: 0;
    position: relative;
    transition: all 200ms;
    border-color: var(--ac);
}

pre.src {
    background-color: var(--bg-0);
    color: var(--fg);
    position: relative;
    padding-top: calc(2em + 5pt);

    &:hover:before {
	margin: 0;
    }
    
    &:before {
	display: inline;
	margin: 0;
	top: 0;
	left: 0;
	right: initial;
	padding: 2pt 8pt;
	background-color: var(--ac);
	color: var(--bg-1);
	border-end-end-radius: 5px;
    }
}

.example {
    color: var(--bg-1);
    background-color: var(--ac);
}

.org-src-container:has(+ .example) .src {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
}

.example:has(+ .org-src-container),
.org-src-container:has(+ .org-src-container) {
    margin-bottom: 1em;
}

.org-src-container + .example {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
}

ul:has(.timestamp) {
    padding: 0;
    margin: 0;
}

li:has(.timestamp) {
    margin: 10px 0;
    list-style: none;

    .timestamp {
	font-family: 'iosevka', monospace;
	display: inline-block;
	width: 145px;
	padding: 10px;
	border-radius: 5px;
	background-color: var(--ac);
	color: var(--bg-1);
    }
    
    & a {
	padding: 3px 10px;
	border-radius: 5px;
	transition: all 300ms;
	text-decoration: none;
	margin: 5px;
	display: inline-block;
	line-height: 2.0;
	color: var(--fg);
	background-color: var(--bg-0);

	&:active {
	    border-radius: 0;
	}
	
	&:hover {
	    color: var(--bg-1);
	    background-color: var(--ac);
	}
    }
}

nav#table-of-contents {
    padding: 5px;
    border-radius: 5px;
    display: block;
    position: initial;
    margin-bottom: 0;
    background-color: var(--bg-0);
    
    h2 {
	display: none;
    }

    a {
	font-size: large;
	text-decoration: none;
	border: none;
    }
}

hr {
    border: dashed .1em var(--ac);
}

blockquote {
    margin: 1em 0;
    padding: .3em 1em;
    border-radius: 3px;
    border-left: solid .3em var(--ac);
    position: relative;
    color: var(--fg);
    background-color: var(--bg-0);
    
    &:has(b > b) {
	padding-top: 2em;
    }
    
    b {
	b {
	    background-color: var(--ac);
	    color: var(--bg-0);
	    padding: .2em 1em;
	    position: absolute;
	    border-end-end-radius: 5px;
	    font-weight: normal;
	    top: 0;
	    left: 0;
	}
    }

    .org-src-container {
	pre {
	    background-color: var(--bg-1);
	}
    }
}

h1, h3 {
    margin-block-start: 0;
    margin-bottom: 0.3em;
    max-width: 100%;
}

h2 {
    font-size: x-large;
}

code {
    font-family: 'iosevka', monospace;
    border-radius: 5px;
    padding: 2px 6px;
    display: inline-block;
    color: var(--bg-1);
    background-color: var(--fg);
}

p {
    line-height: 1.3;
}

@view-transition {
    navigation: auto;
}

@media only screen and (orientation: portrait) {

    #preamble {
	background-color: var(--bg-0);
	padding: .5em 0;

	header {
	    display: flex;
	    flex-direction: row;
	    justify-content: space-between;
	    div {
		display: flex;
	    }
	    img {
		display: none;
	    }
	}
    }

    #postamble {
	.buttons {
	    display: none;
	}
    }
    
    body {
	font-size: medium;
    }

    h1 {
	font-size: xx-large;
    }

    h3 {
	font-size: larger;
    }
    
    li:has(.timestamp) {
	text-align: 			center;
	
	a {
	    display: 			block;
	    padding: 			.8em 	!important;
	    border:			none	!important;
	    border-radius: 0			!important;
	}

	&:first-child a {
	    margin-top:			5px;
	    border-start-start-radius:	5px	!important;
	    border-start-end-radius:	5px	!important;
	}

	& + li, &:has(+ li) {
	    margin-bottom: 		0;
	    margin-top: 		0;
	}
	
	&:last-child a {
	    margin-bottom:		5px;
	    border-end-start-radius:	5px	!important;
	    border-end-end-radius:	5px	!important;
	}
    }

    .timestamp {
	display: 			none	!important;
    }
}

@media only screen and (orientation: landscape) {
    body {
	display: grid;
	grid-template-areas:
	    "preamble	content"
	    "postamble	content"
	    "blank	content";
	grid-template-columns: 1fr 3fr;
	grid-template-rows: .5fr .5fr 10fr;
	gap: 5px;
	padding: 3em;
	background-color: var(--bg-0);
	background-image: 
	    linear-gradient(to bottom left, var(--bg-1) 5px, transparent 1px),
	    linear-gradient(to bottom right, var(--bg-1) 5px, transparent 1px),
	    linear-gradient(to top left, var(--bg-1) 5px, transparent 1px),
	    linear-gradient(to top right, var(--bg-1) 5px, transparent 1px);
	background-size: 40px 40px;
	animation: move-grid 4s linear infinite;
    }

    #preamble, #content, #postamble {
	border: solid .3em var(--ac);
	border-radius: 5px;
	background-color: var(--bg-1);
	margin: 0;
	height: fit-content;
    }

    #preamble {
	grid-area: preamble;
	header {
	    flex-direction: column;
	    div {
		width: 100%;
		a {
		    display: block;
		}
	    }
	}
    }

    #content {
	grid-area: content;
	width: 80ch;
    }

    #postamble {
	grid-area: postamble;
	border: none;
	background-color: transparent;
	padding: 0;

	div {
	    border: solid .3em var(--ac);
	    border-radius: 5px;
	    background-color: var(--bg-1);
	    margin: 0 0 5px 0;
	    padding: 5px;
	}
    }
    
    li:has(.timestamp) {
	a {
	    border: none !important;
	    min-width: calc(100% - 200px);
	}
    }
}

@keyframes move-grid {
    from {
	background-position: 0 0;
    }
    to {
	background-position: 40px 40px;
    }
}

/* Programming Languages */
pre.src-simphare:before		{ content: 'Hare'; }
pre.src-elisp:before		{ content: 'Emacs Lisp'; }
pre.src-javascript:before,
pre.src-js:before	        { content: 'JavaScript'; }
