@media only screen and (max-width: 1280px) {
  section#intro {
    display: none;
  }

  section#home {
    display: block;
  }

  body:has(section:target) {
    section#home {
      display: none;
      &:target {
        display: block;
      }
    }
  }

  nav {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    position: initial;
    align-items: center;

    .mobile_menu {
      display: initial;
    }

    .desktop_menu {
      display: none;
    }
  }

  .project {
    img {
      max-height: 300px;
      display: block;
      margin: auto !important;
    }

    .project_info {
      max-width: -webkit-fill-available;
      margin: auto;
    }
  }

  .book_info {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    .book_info_book {
      max-width: fit-content;
      margin: auto;
    }

    .quote {
      max-width: -webkit-fill-available;
    }
  }
}

@media only screen and (orientation: portrait) {
  body {
    font-size: medium;
  }

  nav {
    font-size: large;
    flex-direction: row;
  }

  h1 {
    font-size: xx-large;
  }

  h3 {
    font-size: larger;
  }

  li:has(.blog_entry) a {
    font-size: small;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    margin-top: 0.7em;
  }
}
