---
layout: default.vto
title: Tukain's Website
---
<div class="center">
    <hgroup class="intro">
        <h1>Tukain</h1>
        <p>
          Sou alguém que busca por músicas que me relaxam ou que dão
          adrenalina… Só depende do dia. Sinta-se livre para explorar o meu
          espaço neste vasto mundo chamado internet!
        </p>
    </hgroup>
</div>

<div class="center">
    <article class="card">
      <a href="https://github.com/ventriloquo" class="post-link">
        <div class="center">
            <div class="thumbnail">
                <p>
                🐱
                </p>
            </div>
        </div>
        <h3>
          Meu Github
        </h3>
        <p>
          Local onde você pode encontrar meus projetos e outras coisas em que
          estou trabalhando.
        </p>
      </a>
    </article>
</div>

