:root {
    --fg:	#2b2923;
    --bg-0:	#5f5f52;
    --bg-1:	#838470;
    --link:	#96a6c8;
    --hr-color: #363636;
}

html {
    scrollbar-width: none;	/* Hiding the scrollbar on Firefox */
    scroll-padding-top: 0;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;		/* Hiding the scrollbar on Chrome */
}

body {
    background-color: var(--bg-1);
    color: var(--fg);
    font-family: "San Francisco", system-ui;
    line-height: 1.6;
    position: relative;
}

a {
    text-decoration: underline;
    color: var(--fg);
}

a:has(h1) {
    text-decoration: none;
}

a:hover {
    opacity: 90%;
}

a[href*="//"]:after {
    font-weight: 300;
    font-size: .85em;
    content: "\2197"; /* top right arrow */
    color: var(--fg);
}

a:before {
    font-size: .7em;
    margin-right: .4em;
    color: var(--fg);
}

/* Documents */
a[href$=".pdf"]:before	{ content: "PDF"; }
a[href$=".md"]:before	{ content: "MD"; }
a[href$=".txt"]:before	{ content: "TXT"; }
a[href$=".adoc"]:before	{ content: "ASCIIDOC"; }
a[href$=".roff"]:before	{ content: "ROFF"; }
a[href$=".tex"]:before	{ content: "LATEX"; }

/* Video */
a[href$=".mov"]:before,
a[href$=".avi"]:before,
a[href$=".webm"]:before,
a[href$=".wmv"]:before,
a[href$=".mkv"]:before,
a[href$=".mp4"]:before	{ content: "VID"; }

/* Audio */
a[href$=".m4a"]:before,
a[href$=".wav"]:before,
a[href$=".ogg"]:before,
a[href$=".opus"]:before,
a[href$=".flac"]:before,
a[href$=".mp3"]:before	{ content: "AUD"; }

/* Archives */
a[href$=".7z"]:before		{ content: "7Z"; }
a[href$=".tar"]:before,
a[href$=".tar.gz"]:before,
a[href$=".tar.xz"]:before	{ content: "TAR"; }
a[href$=".zip"]:before		{ content: "ZIP"; }
a[href$=".rar"]:before		{ content: "RAR"; }

/* Images */
a[href$=".jpeg"]:before,
a[href$=".ff"]:before,   /* https://tools.suckless.org/farbfeld/ */
a[href$=".jfif"]:before,
a[href$=".webp"]:before,
a[href$=".jpg"]:before,
a[href$=".gif"]:before,
a[href$=".png"]:before	{ content: "IMG"; }

h1 {
    color: var(--fg);
    font-size: xx-large;
    position: relative;
}

h2 {
    font-size: x-large;
}

h1:has(+ p), h1:has(+ br), h2:has(+ br) {
    margin-bottom: -.5rem;
}

h1:hover::before {
    content: "#";
    position: absolute;
    left: -1.5rem;
}

p {
    font-size: large;
    margin-top: .3em;
    margin-bottom: 1em;
}

b, strong {
    font-weight: bold;
}

i, em {
    font-style: italic;
}

time {
    color: var(--fg);
    font-size: initial;
    margin-left: .4em;
}

q, blockquote {
    display: block;
    margin: 15px 0;
    padding: 8px 0 8px 15px;
    border-left: solid 3px var(--fg);
    font-style: italic;
}

q p::before, q p::after, blockquote p::before, blockquote p::after {
    content: "\""
}

cite, cite time {
    color: var(--fg);
    opacity: 90%;
}

cite::before {
    content: "— ";
}

cite time::before {
    content: "/ ";
}

hr {
    border: none;
    border-bottom: solid 1px var(--fg);
}

table {
    border: solid 2px var(--fg);
    border-radius: 3px;
    width: 100%;
    margin: 1em auto;
    text-align: left;
}

th {
    background-color: var(--fg);
    color: var(--bg-0);
}

th, td {
    padding: .3em .8em;
}

tr:nth-of-type(even) {
    background-color: var(--bg-1)
}

details:hover {
    cursor: pointer;
}

code, kbd, pre {
    padding: 5px;
    border-radius: 3px;
    font-family: monospace;
}

kbd {
    background-color: var(--fg);
    color: var(--bg-0);
}

pre, code {
    background-color: var(--bg-1);
    color: var(--fg);
}

pre {
    padding: 1em;
    overflow-x: scroll;
}

pre code {
    padding: 0;
}

main {
    display: block;
    margin: auto;
    position: relative;
}

section {
    display: none;
    position: absolute;
    top: 0;
    min-height: 100vh;
    width: 100vw;
    background: var(--bg-0);
    z-index: 1;
}

.up {
    position: fixed;
    left: 1em;
    bottom: 1em;
    z-index: 10;
    text-decoration: none;
    font-size: x-large;
    background-color: var(--bg-0);
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
}

article {
    display: block;
    margin-bottom: 1em;
    background-color: var(--bg-1);
    padding: 5px;
    border-radius: 3px;
}

section:target, section:has(article:target) {
    margin-top: 0;
    display: block;
}

header {
    background-color: var(--fg);
    display: block;
    padding-top: 1.5em;
    padding-bottom: .6em;
    padding-left: 0;
    padding-right: 0;
    width: 100vw;
    position: sticky;
    top: 0;
    z-index: 15;
}

header img {
    max-height: 40vh;
    margin-top: 20vh;
}

nav {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--bg-1);
    justify-content: space-between;
    padding-left: 2em;
    padding-right: 2em;
    margin-top: 20vh;
    margin-bottom: 20vh;
}

nav a {
    text-decoration: none;
    display: inline-block;
    padding: 0 1em;
    color: var(--fg);
}

img {
    max-width: 100%;
    display: block;
    margin: .7em auto;
    opacity: 80%;
}

ul, ol {
    list-style-position: inside;
    padding-inline-start: 1em;
    line-height: 1;
}

ol {
    list-style: auto;
}

ul {
    list-style: disc;
}

ul ul, ol ol {
    margin: 0;
}

ul br, ol br {
    display: none;
}

li {
    padding: 3px 0;
}

.content {
    display: block;
    max-width: 80ch;
    margin: auto;
    padding: 15px;
}

@media only screen and (max-width: 720px) {
    #blog_posts {
	padding: 0;
    }
    h1:hover::before {
	content: "";
    }
}
