:root {
    --bg-0:	#181818;
    --bg-1:	#282828;
    --fg-0:	#e4e4ef;
    --fg-1:	#f4f4ff;
    --accent:	#ffdd33;
    --link:	#96a6c8;
    --heading:	#95a99f;
    --hr-color: #363636;
}

html {
    scrollbar-width: none;	/* Hiding the scrollbar on Firefox */
}

::-webkit-scrollbar {
    display: none;		/* Hiding the scrollbar on Chrome */
}

body {
    background-color: var(--bg-1);
    color: var(--fg-0);
    font-family: "San Francisco", system-ui;
    line-height: 1.6;
    position: relative;
}

a {
    text-decoration: none;
    color: var(--link);
}

a:hover {
    opacity: 90%;
}

a[href*="//"]:after {
    font-weight: 300;
    font-size: .85em;
    content: "\2197"; /* top right arrow */
    color: var(--fg-0);
    opacity: .25;
}

a:before {
    font-size: .7em;
    margin-right: .4em;
}

/* Documents */
a[href$=".pdf"]:before	{ content: "PDF"; }
a[href$=".md"]:before	{ content: "MD"; }
a[href$=".txt"]:before	{ content: "TXT"; }
a[href$=".adoc"]:before	{ content: "ASCIIDOC"; }
a[href$=".roff"]:before	{ content: "ROFF"; }
a[href$=".tex"]:before	{ content: "LATEX"; }

/* Video */
a[href$=".mov"]:before,
a[href$=".avi"]:before,
a[href$=".webm"]:before,
a[href$=".wmv"]:before,
a[href$=".mkv"]:before,
a[href$=".mp4"]:before	{ content: "VID"; }

/* Audio */
a[href$=".m4a"]:before,
a[href$=".wav"]:before,
a[href$=".ogg"]:before,
a[href$=".opus"]:before,
a[href$=".flac"]:before,
a[href$=".mp3"]:before	{ content: "AUD"; }

/* Archives */
a[href$=".7z"]:before		{ content: "7Z"; }
a[href$=".tar"]:before,
a[href$=".tar.gz"]:before,
a[href$=".tar.xz"]:before	{ content: "TAR"; }
a[href$=".zip"]:before		{ content: "ZIP"; }
a[href$=".rar"]:before		{ content: "RAR"; }

/* Images */
a[href$=".jpeg"]:before,
a[href$=".ff"]:before,   /* https://tools.suckless.org/farbfeld/ */
a[href$=".jfif"]:before,
a[href$=".webp"]:before,
a[href$=".jpg"]:before,
a[href$=".gif"]:before,
a[href$=".png"]:before	{ content: "IMG"; }

h1 {
    color: var(--accent);
    font-size: xx-large;
    position: relative;
}

h2 {
    color: var(--heading);
    font-size: x-large;
}

h1:has(+ p), h1:has(+ br), h2:has(+ br) {
    margin-bottom: -.5rem;
}

h1:hover::before {
    content: "#";
    position: absolute;
    left: -1.5rem;
}

p {
    font-size: large;
    margin-top: .3em;
    margin-bottom: 1em;
}

b, strong {
    font-weight: bold;
}

i, em {
    font-style: italic;
}

time {
    color: var(--fg-0);
    opacity: 50%;
    font-size: initial;
    margin-left: .4em;
}

q, blockquote {
    display: block;
    margin: 15px 0;
    padding: 8px 0 8px 15px;
    border-left: solid 3px var(--accent);
    font-style: italic;
}

q p::before, q p::after, blockquote p::before, blockquote p::after {
    content: "\""
}

cite, cite time {
    color: var(--accent);
    opacity: 90%;
}

cite::before {
    content: "~ ";
}

cite time::before {
    content: "/ ";
}

hr {
    border: none;
    border-bottom: solid 1px var(--hr-color);
    margin: 1em 15%;
}

summary {
    color: var(--heading);
}

code, kbd, pre {
    padding: 5px;
    border-radius: 3px;
    font-family: monospace;
}

kbd {
    background-color: var(--fg-0);
    color: var(--bg-0);
}

pre, code {
    background-color: var(--bg-1);
    color: var(--fg-1);
}

pre {
    padding: 1em;
    overflow-x: scroll;
}

pre code {
    padding: 0;
}

main {
    display: block;
    margin: auto;
    position: relative;
}

section {
    display: none;
    position: absolute;
    top: 0;
    min-height: 100vh;
    width: 100vw;
    background: var(--bg-0);
    padding-top: 5em;
    z-index: 1;
}

article {
    display: block;
    margin-bottom: 1em;
}

section:target, section:has(article:target) {
    display: block;
}

section#home {
    display: block;
}

nav {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    background-color: var(--bg-0);
    top: 0;
    z-index: 2;
    justify-content: space-between;
    margin: auto;
    width: 100vw;
    border-bottom: solid 1px var(--bg-1);
}

nav a {
    text-decoration: none;
    display: inline-block;
    padding: 1em;
}

img {
    max-width: 100%;
    display: block;
    margin: .7em auto;
}

ul, ol {
    list-style-position: inside;
    padding-inline-start: 1em;
    line-height: 1;
}

ol {
    list-style: auto;
}

ul {
    list-style: disc;
}

ul ul, ol ol {
    margin: 0;
}

ul br, ol br {
    display: none;
}

li {
    padding: 3px 0;
}

.content {
    display: block;
    max-width: 80ch;
    margin: auto;
    padding: 15px;
}

@media only screen and (max-width: 720px) {
    h1:hover::before {
	content: "";
    }
}
