---
layout: default.vto
title: Tags
description: Tags dos posts/tutoriais
---
{{ include "components/intro.vto" }}
<hr>
<div >
  {{ for tag of search.pages("type=tag", "title") }}
    <a href="{{ tag.url }}">
      <article class="center">
        <p style="font-size: larger">{{ tag.title |> toLowerCase }}</p>
      </article>
    </a>
  {{ /for }}
</div>
