.book {
  text-align: center;
  border-radius: 5px;
  padding-bottom: 10px;
  transition: all 200ms;
  background-color: var(--bg-0);
  
  &:hover {
    background-color: var(--bg-1);
  }

  img {
    width: 180px;
    height: 280px;
    object-fit: cover;
    margin-top: 0;
    border-start-start-radius: 5px;
    border-start-end-radius: 5px;
  }

  progress {
    width: 90%;
  }
}

@media only screen and (max-width: 1280px) {
  section#intro {
    display: none;
  }

  section#home {
    display: block;
  }

  nav {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    position: initial;
    align-items: center;

    .mobile_menu {
      display: initial;
    }

    .desktop_menu {
      display: none;
    }
  }
}

@media only screen and (orientation: portrait) {
  body {
    font-size: medium;
  }

  nav {
    font-size: large;
    flex-direction: row;
  }

  h1 {
    font-size: xx-large;
  }

  h3 {
    font-size: larger;
  }

  li:has(.blog_entry) a {
    font-size: small;
    padding-top: .7em;
    padding-bottom: .7em;
    margin-top: .7em;
  }
}
